* {
  box-sizing: border-box;
}

body {
  background: url("body-bg.gif");
  
}

button {
  border: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  background: transparent;
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-decoration:none;
}

.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  background:rgb(30, 30, 30);
  color: #ffffff;
  font-family: "Poppins";
  box-sizing: border-box;
  text-decoration:none;
  
  
 
  
}

@media only screen and (min-width: 600px) {
  .navbar {
    justify-content: space-between;
    align-items:center;
    padding: 0 0 0 16px;
    
  }
}

.navbar-overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

body.open .navbar-overlay {
  visibility: visible;
  opacity: 1;
}

@media only screen and (min-width: 600px) {
  .navbar-overlay {
    display: none;
  }
}

.navbar-burger {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 64px;
  height: 64px;
  padding: 0;
}

@media only screen and (min-width: 600px) {
  .navbar-burger {
    display: none;
  }
}

.navbar-title {
  margin: 0;
  padding: 10px;
  
  
}
.logo,#logo{
  height: 47px;
  width: 250px;
  margin-left:20%;
  margin-top: 10px;
  position:relative;
  box-shadow: none;
 
 }
 .logo,#logo{
  box-shadow: none;
 }
 
 
.navbar-menu {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  translate: -100% 0;
  width: 270px;
  height: 100%;
  margin-right: 5%;
  padding: 20px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: flex-start;
  background: #000000;
  visibility: hidden;
  transition: translate 0.3s;
  text-decoration:none;
  
}

body.open .navbar-menu {
  translate: 0 0;
  visibility: visible;
  
}

@media only screen and (min-width: 800px) {
  .navbar-menu {
    position: static;
    translate: 0 0;
    width: auto;
    background: transparent;
    flex-direction: row;
    visibility: visible;
    max-width: 800px;
    

    
  }
}

.navbar-menu > button {
  color: rgba(255, 255, 255, 0.997);
  background: transparent;
  padding: 0 8px;
  
}

.navbar-menu > button:hover {
  background-color: rgb(0, 0, 0);
  background: transparent;
  padding: 0 8px;
  color: rgb(136, 0, 255);
  
}
.navbar-menu > button.active {
  color: rgb(0, 255, 136);
  
}
a:link, a:visited {
  
  color: rgb(255, 252, 66);
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0 1px;
  font-family: anton;
  font-size: 25px;
  box-shadow: inset 0 0 0 0 #ffffff;
  /* color: #54b3d6; */
  margin: 0 -.0rem;
  padding: 0 .0rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

}

a:hover, a:active {
  color: rgb(255, 255, 255);
  box-shadow: inset 100px 0 0 0 #ff0303
}
#btn11{
  color: #ffffff;
  text-decoration: none;
  box-shadow: none;
}

/* webseries start */
* {
  box-sizing: border-box;
  
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
  max-width: 90%;
  align-items:center;
  
  
}

.flex-item-left {
  
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
 
  padding: 10px;
  flex: 50%;
}


@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
.fimg{
    height: 300px;
    width: 300px;
    border: #ffffff ;
    border-radius: 5%;
    border-style: solid;
    border-width: 1px;
    
}
.fimg:hover ,.fimg:active{
    border-color: #f9f347;
    border-radius: 5%;
    border-style:outset;
    border-width: 5px;
 }

            #terabox{
              background-color: #06ffee;
              color: rgb(35, 4, 77);
              padding: 15px 15px;
              width: 228px;
              height: 60px;
              font-size: 18px;
              margin-bottom: 2px;
              text-align: center;
              display: inline-grid;
              border-radius: 20px;
              font-style: oblique;
              font-family:Arial, Helvetica, sans-serif;
              

            }
            #terabox:hover, #terabox:active {
              background-color: rgb(254, 1, 1);
              color: white;
            }
            h2{
              font-style: normal;
              font-family:Arial, Helvetica, sans-serif;
              margin-top: 100px;
              text-decoration: underline;
              color: rgb(255, 0, 0);
              margin-left: 90px;
            }
            #button{
              background-color: #017aa3 ;
              color: rgb(255, 255, 255);
              padding: 10px 10px;
              width: 140px;
              height: 50px;
              font-size: 30px;
              margin-bottom: 2px;
              text-align: center;
              display: inline-grid;
              border-radius: 10px;
              font-family: Arial, Helvetica, sans-serif;

            }
            #button:hover, #button:active {
              background-color: rgb(0, 238, 255);
              color: rgb(0, 0, 0);
            }
           
